@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

a {
  color: inherit;
}
