@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);

@font-face {
  font-family: HelNowMed;
  src: url("../../Fonts/HelveticaNowDisplay-Medium.woff") format("truetype");
}

@font-face {
  font-family: HelNowReg;
  src: url("../../Fonts/HelveticaNowDisplay-Regular.woff") format("truetype");
}

body {
  margin: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

a {
  color: inherit;
}
